.basket-img {
	width: 50px;
}
.boots-img {
	width: 250px;
}
section#example_1 {
	height: 100vh;
	background-image: url(../img/bg.jpg);
	background-size: cover ;
}
section#example_2 {
	height: 100vh;
	background-image: url(../img/pt.png);
	background-repeat: repeat;
}
section#bottom {
	height: 300px;
	background-color: black;
}